<div class="fixed inset-x-0 top-5 z-50">
  <div class="max-w-xs mx-auto">
    <ul class="flex justify-center align-center bg-white rounded-full shadow-md py-1">
      <li class="rounded-full px-3 py-2">
        <%= link_to "Home", root_path, class: "text-sm block text-green-600#{" active" if current_page?(root_path)}" %>
      </li>
      <li class="rounded-full px-3 py-2">
        <%= link_to "Games", games_path, class: "text-sm block text-green-600#{" active" if current_page?(games_path)}" %>
      </li>
      <li class="rounded-full px-3 py-2">
        <%= link_to "Profile", profile_path, class: "text-sm block text-green-600#{" active" if current_page?(profile_path)}" %>
      </li>
      <li class="rounded-full px-3 py-2">
        <%= link_to "Leaderboard", leaderboard_path, class: "text-sm block text-green-600#{" active" if current_page?(leaderboard_path)}" %>
      </li>
    </ul>
  </div>
</div>
